# Ignore node_modules directory
node_modules/

# Ignore local .env files
.env

# Ignore Git and version control
.git/
.gitignore

# Ignore logs
*.log

# Ignore test and development files
**/__tests__/
**/__mocks__/
**/test/
**/tests/
**/*.spec.ts
**/*.test.ts

# Ignore IDE specific files
.vscode/
.idea/
